/* CSS Grid対応のため記述 */
/* autoprefixer grid: on */

.list-header {
  height: 96px;
  font-size: var(--large-font-size);
  background-color: var(--card-bg-color);
}

.list-header button {
  height: 39.06;
}

.list-header form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upper-lower-center {
  display: flex;
  align-items: center;
}

.claim-list {
  margin: 8px;
}

.claim-list-header {
  height: 80px;
  font-size: var(--large-font-size);
  background-color: var(--card-header-bg-color);
}

.claim-list-data {
  font-size: var(--medium-font-size);
}

.pager {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
