/* CSS Grid対応のため記述 */
/* autoprefixer grid: on */

/* ヘッダエリア */

.list-header {
  height: 96px;
  background-color: var(--card-bg-color);
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
}

.list-header * {
  font-size: var(--large-font-size);
}

.list-header form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-header input[type="text"], .list-header select {
  width: 200px;
  height: 40px;
}

.list-header input[type="date"] {
  width: 200px;
  height: 40px;
}

.from-lossdate-form {
  position: relative;
}

.to-lossdate-form {
  position: relative;
}

.datepicker {
  position: absolute;
  right: 0;
}

.radio-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-header button {
  height: 40px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
}

.list-header button:disabled {
  background: #abb6cc;
}

/* 事案一覧テーブルエリア */

.claim-list {
  width: 1264px;
  height: 780px;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--card-bg-color);
  border-collapse: collapse;
}

.claim-list-header {
  height: 80px;
  font-size: var(--large-font-size);
  background-color: var(--card-header-bg-color);
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
}

.claim-list-data {
  font-size: var(--medium-font-size);
  background-color: var(--card-bg-color);
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
}

.claim-list-data td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  border-bottom: 1px solid #cacaca;
}

.claim-category {
  font-size: var(--large-font-size);
  padding-right: 8px;
  padding-left: 8px;
}

/* ページャーエリア */

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager * {
  font-size: var(--large-font-size);
}

.pager input {
  width: 64px;
  height: 28px;
}

/* お試しスタイルエリア */

/* input text */

.cp_iptxt {
  position: relative;
  /* width: 80%; */
  /* margin: 40px 3%; */
  flex: 1;
}

.cp_iptxt input[type='text'], .cp_iptxt select {
  /* font: 15px/24px sans-serif; */
  box-sizing: border-box;
  /* width: 100%; */
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.ef input[type='text']:focus, .ef select:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.cp_iptxt2 {
  position: relative;
  /* width: 80%; */
  width: 64px;
  /* margin: 40px 3%; */
  /* flex: 1; */
}

.cp_iptxt2 input[type='text'] {
  /* font: 15px/24px sans-serif; */
  box-sizing: border-box;
  /* width: 100%; */
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.ef2 {
  width: 64px;
}

.ef2 input[type='text']:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}
