#list-header {
  height: 96px;
  background-color: #ffffff;
}

#list-header button {
  height: 39.06;
}

#list-header form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upper-lower-center {
  display: flex;
  align-items: center;
}

.pager {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
