.overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--color-overlay);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    overflow: hidden;
    height: var(--height-modal-init);
    width: var(--width-modal-init);
    background-color: var(--color-white);
    border-radius: var(--radius-xlarge);
    box-shadow: 10px 10px 10px var(--color-shadow-dialog);
    border: solid 1px var(--color-skyblue);
    z-index: 1001;
    padding: var(--pxxxxx);
  }

  .modal-top {
      margin: 0;
      font-size: var(--font-xlarge);
  }

  .modal-title {
    width: 100%;
  }

  .modal-header {
    height: 5em;
    width: 100%;
    line-height: 0.9em;
    margin: var(--mx) var(--mn) var(--mn) 0;
    vertical-align: middle;
  }

  .modal-header > #modal_title {
    display: block;
  }

  .modal-contents {
    height: calc(100% - 7em);
    margin: var(--mxx) 0 var(--mxx) 0;
  }
  .modal-contents textarea.memo {
    width: calc(100% - 1.15em);
    height: calc(100% - 1.1em);
  }

  .modal-footer {
    width: 100%;
    text-align: center;
    margin-top: var(--mn);
  }

  .modal mat-icon.clear {
      font-size: large;
  }

  .modal-htmlContents {
    width: 100%;
    height: 100%;
  }

