/* autoprefixer grid: autoplace */

body {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.grid-app {
    margin: 0.3em;
    display: grid;
    grid-template-columns: 9em;
    /* grid-gap: 0.5em; */
}

.grid-contents {
    display: grid;
    grid-template-rows: 3em;
    /* grid-gap: 0.5em; */
    grid-column: 2/2;
}
 
header,
aside,
article,
footer {
    background: #eaeaea;
    padding: 1em;
}
 
aside.sidebar-left {
    grid-column: 1/2;
    margin-right: 0.3em;
}

header {
    grid-row: 1/2;
    height: 1em
}

article {
    grid-row: 2/2;
    margin-top: 0.3em;
    display: flex;
    flex-wrap: wrap;
}

/* content.card {
    
} */
 
.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-style-none {
    list-style-type: none;
    padding: 0;
}

/* .background {
    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
} */