/* autoprefixer grid: on */

.app-container {
    height: calc(100vh - 4.8em);
    overflow-y: hidden;
    /* overflow-y: auto; */
  }

.grid-app {
  margin: 0.3em;
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-template-columns: 9em 1fr;
  grid-template-areas: "header header"
                       "sidebar article";
  grid-auto-flow: row;
  /* grid-gap: 0.5em; */
}

header,
aside,
article,
footer {
  background: #eaeaea;
  padding: 1em;
}

header {
  grid-area: header;
  height: 1em;
}

aside.sidebar-left {
  grid-area: sidebar;
  margin-top: 0.2em;
}

aside.sidebar-left li {
  margin-top: 0.7em;
  margin-left: 0.1em;
}

aside.sidebar-left a {
  text-decoration: none;
  color: white;
}

aside.sidebar-left a:hover {
  color: #067fc1;
}

article {
  grid-area: article;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.2em;
  padding: 0.2em;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-style-none {
  list-style-type: none;
  padding: 0;
}

.txt-deco-none {
  text-decoration: none;
}

.ft-italic {
  font-style: italic;
}
.ft-bold {
  font-weight: 600;
}

.ft-wt {
  color: white; 
}
.ft-bk {
  color: black;
}
.ft-gr {
  color: gray;
}
.ft-sv {
  color: silver;
}
.ft-bl {
  color: blue;
}
.ft-nv {
  color: navy;
}
.ft-tl {
  color: teal;
}
.ft-lm {
  color: lime;
}
.ft-aq {
  color: aqua;
}
.ft-yl {
  color: yellow;
}
.ft-rd {
  color: red;
}
.ft-fc {
  color: fuchsia;
}
.ft-ol {
  color: olive;
}
.ft-pr {
  color: purple;
}
.ft-mr {
  color: maroon;
}

.bg-menu {
  /* background-color:var(--color-scheme-menu); */
  background-color: #00ccca;
}

/* .br-wh {
  width: 1280px;
  height: 1024px;
  min-width: 1280px;
  min-height: 1024px;
  max-width: 1280px;
  max-height: 1024px;
} */

/* .background {
  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
} */