/* autoprefixer grid: on */

.app-container {
    height: calc(100vh - 4em);
    overflow-y: hidden;
  }

.grid-app {
  margin: var(--mn);
  display: grid;
  grid-template-rows: var(--height-menu-head) 1fr;
  grid-template-columns: var(--height-menu-lside) 1fr;
  grid-template-areas: "header header"
                       "sidebar article";
  grid-auto-flow: row;
  /* grid-gap: 0.5em; */
}

header,
aside,
article,
footer {
  background: var(--color-background-contents);
  padding: var(--pxxxx);
}

header {
  grid-area: header;
}

aside.sidebar-left {
  grid-area: sidebar;
  margin-top: var(--mn);
}

aside.sidebar-left li {
  margin-top: var(--mxxx);
  margin-left: var(--ms);
}

aside.sidebar-left a {
  text-decoration: none;
  color: var(--color-white);
}

aside.sidebar-left a:hover {
  color: var(--color-active-menu);
}

article {
  grid-area: article;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--mn);
  padding: var(--pn);
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-style-none {
  list-style-type: none;
  padding: 0;
}

.txt-deco-none {
  text-decoration: none;
}

.ft-italic {
  font-style: italic;
}
.ft-bold {
  font-weight: var(--font-bold);
}

.bg-menu {
  background-color:var(--color-background-menu);
}

/* .br-wh {
  width: 1280px;
  height: 1024px;
  min-width: 1280px;
  min-height: 1024px;
  max-width: 1280px;
  max-height: 1024px;
} */

/* .background {
  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
} */
