/* CSS Grid対応のため記述 */
/* autoprefixer grid: on */

.container {
  display: flex;
  flex-direction: column;
  height: var(--window-height);
}

/* ヘッダエリア */

.main-header__button {
  display: inline-block;
  width: var(--main-header-height);
  height: var(--main-header-height);
  margin-right: 16px;
}

.main-header__button mat-icon {
  font-size: var(--extra-extra-large-font-size);
  position: absolute;
}

.detail-header-card {
  font-size: var(--large-font-size);
  background-color: var(--card-bg-color);
  padding-top: 4px;
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
  padding-bottom: 4px;
  box-shadow: 0 0 4px var(--dark-shadow-color);
  box-shadow: 0 0 8px var(--light-shadow-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.detail-header-card__item {
  margin-right: 12px;
  line-height: 28px;
}

/* 事案カテゴリエリア */

.claim-category-card {
  height: 228px;
  background-color: var(--card-bg-color);
  margin-top: 12px;
  margin-right: var(--left-write-common-margin);
  margin-left: var(--left-write-common-margin);
  box-shadow: 0 0 4px var(--dark-shadow-color);
  box-shadow: 0 0 8px var(--light-shadow-color);
  border-radius: 4px;
}

.claim-category-header {
  height: var(--card-header-height);
  font-size: var(--large-font-size);
  background-color: var(--card-header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
}

.claim-category-card-header__item {
  vertical-align: middle;
  line-height: var(--card-header-height);
}

.detail-header-card__item--block {
  display: inline-block;
}

.claim-category {
  height: 196px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.claim-category-matrix {
  font-size: var(--medium-font-size);
  width: 392px;
  height: 180px;
  display: grid;
      grid-template:
        "...           ... ...            ...          ...           ...        " 12px
        "...           ... ncpd-label     ncpd-label   ncpd-label    ncpd-label " auto
        "...           ... ...            ...          ...           ...        " 8px
        "special-label ... ...            ncpd-high    ncpd-middle   ncpd-low   " 1fr
        "special-label ... special-high   high-high    high-middle   high-low   " 1fr
        "special-label ... special-middle middle-high  middle-middle middle-low " 1fr
        "special-label ... special-low    low-high     low-middle    low-low    " 1fr
        "...           ... ...            ...          ...           ...        " 12px
        / auto         8px 1fr            1fr          1fr           1fr;
}

.claim-category-matrix__ncpd-label {
  text-align: center;
  grid-area: ncpd-label;
}

.claim-category-matrix__special-label {
  text-align: center;
  grid-area: special-label;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.claim-category-matrix__ncpd-high {
  grid-area: ncpd-high;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__ncpd-middle {
  grid-area: ncpd-middle;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__ncpd-low {
  grid-area: ncpd-low;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__special-high {
  grid-area: special-high;
  border-top: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__special-middle {
  grid-area: special-middle;
  border-top: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__special-low {
  grid-area: special-low;
  border-top: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__high-high {
  grid-area: high-high;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__high-middle {
  grid-area: high-middle;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__high-low {
  grid-area: high-low;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__middle-high {
  grid-area: middle-high;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__middle-middle {
  grid-area: middle-middle;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__middle-low {
  grid-area: middle-low;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__low-high {
  grid-area: low-high;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__low-middle {
  grid-area: low-middle;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-category-matrix__low-low {
  grid-area: low-low;
  border-top: solid 1px;
  border-left: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* モデルエリア */

.model {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 12px;
  margin-right: var(--left-write-common-margin);
  margin-left: var(--left-write-common-margin);
}

.model-card {
  width: 620px;
  height: 100%;
  box-shadow: 0 0 4px var(--dark-shadow-color);
  box-shadow: 0 0 8px var(--light-shadow-color);
  border-radius: 4px;
  overflow: hidden;
}

.model-card-main-header {
  height: var(--card-header-height);
  font-size: var(--large-font-size);
  background-color: var(--card-header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--left-write-common-padding);
  padding-left: var(--left-write-common-padding);
}

.model-card-main-header-content {
  height: var(--card-header-height);
  vertical-align: middle;
  line-height: var(--card-header-height);
}

.model-card-main-header-content__button {
  display: inline-block;
  width: var(--card-header-height);
  height: var(--card-header-height);
  position: relative;
  top: -2.5px;
}

.model-card-main-header-content__button mat-icon {
  font-size: var(--extra-large-font-size);
}

.model-card-sub-header {
  height: var(--factor-header-height);
  font-size: var(--medium-font-size);
  display: flex;
}

.factor-header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.factor-header__item {
  margin: 0;
}

.factor-header--raise {
  background-color: var(--claim-high-color);
}

.factor-header--lower {
  background-color: var(--claim-low-color);
}

.model-card-contents {
  /* height=「親要素のheight」-「兄弟要素のheight」 */
  height: calc(100% - 40px - 32px);
  font-size: var(--medium-font-size);
  background-color: var(--card-bg-color);
  display: flex;
  overflow-y: auto;
}

.factor {
  height: 100%;
  flex: 1;
}

.factor-contens {
  margin: 8px;
}

.factor-contens__score {
  margin: 0;
  font-size: var(--medium-font-size);
}

.factor-contens__feature {
  margin: 0;
  font-size: var(--medium-font-size);
}

.factor-contens__feature-description {
  height: 48px;
  margin: 0;
  font-size: var(--small-font-size);
  background-color: var(--feature-description-bg-color);
  overflow-y: auto;
}

/* モデルが存在しない時のメッセージ用 */

.no-model-message-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.no-model-message {
  font-size: var(--extra-large-font-size);
}

/* 検索中のloadingレイアウト用 */

.inquiring {
  flex: 1;
}
