/* autoprefixer grid: on */

:host {
  width: 100%;
  height: 100%;
}

.detail-head {
  width: 100%;
  height: var(--height-detail-head);
  line-height: 2.1em;
  background-color: var(--color-white);
  display: flex;
  vertical-align: middle;
}

.detail-head table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.detail-head button {
  margin-top: var(--mxxx);
  width: var(--btn-w-xl);
  height: var(--btn-h-n);
}

.detail-container {
  display: grid;
  grid-template-areas: "d-main d-right"
                       "d-foot d-right";
  grid-template-rows: 1fr var(--height-detail-foot);
  grid-template-columns: 1fr var(--width-detail-rside);
  width: calc(100% - var(--mn));
  height: calc(100% - var(--height-detail-head));
  line-height: calc(100% - var(--height-detail-head));
  margin: 0;
  padding: 0;
}

.detail-main {
  grid-area: d-main;
  margin: var(--mxx) 0 var(--mx) var(--mx);
  padding-top: var(--pxx);
  border: var(--border-contents-gray);
  border-radius: var(--radius-large);
  background-color: var(--color-white);
  overflow-y: auto;
}

.detail-main div.title {
  min-height: var(--height-title-normal);
}

.detail-main div.chart {
  height: calc(100% - 17.5em);
  min-height: var(--height-detail-chart-min);
  border: var(--border-contents-gray);
  margin: var(--mxx) var(--mxxxx) var(--mxxxx) var(--mxxxx);
  overflow-y: hidden;
}

.detail-main div.risk-list-area {
  margin-left: var(--mxxxx);
  margin-right: var(--mxxxx);
}

.detail-main div.risk-list-area div.title {
  width: 100%;
  height: var(--height-title-normal);
  display: flex;
  text-align: center;
  padding-top: var(--pxx);
  background-color: var(--color-background-title);
}

.detail-main div.factor {
  width: calc(100% - var(--m4));
}

.detail-main button {
  width: var(--btn-w-xl);
  height: var(--btn-h-n);
}

.detail-side {
  grid-area: d-right;
  margin-left: var(--ms);
  margin-top: 0;
}

.detail-side div.contents-area {
  margin: var(--mxx);
  max-height: calc(100% - 0.7em);
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-side div.title {
  height: var(--height-title-small);
  line-height: var(--height-title-small);
  margin: var(--mxx) var(--mxxx) var(--mx) var(--mxxx);
  font-size: var(--font-xxlarge);
}

.detail-side div.filter {
  height: var(--height-title-normal);
  line-height: var(--height-title-normal);
  margin: var(--mx) var(--mxxxx) var(--mxx) var(--mxxxx);
}
.detail-side div.filter span.active {
  font-weight: var(--font-bold);
  color: var(--color-active);
}
.detail-side div.filter span:hover {
  font-weight: var(--font-bold);
  cursor: pointer;
}

.detail-side div.contents {
  margin: var(--mxx) 0 var(--mxx) 0;
  height: var(--height-detail-rside-memo);
  background-color: var(--color-background-contents);
}

.detail-side div.contents textarea {
  height: calc(100% - 6.2em);
  margin: var(--mxxxx) var(--mxxxx) 0em var(--mxxxx);
}

.detail-side div.contents button {
  width: var(--btn-w-n);
  height: var(--btn-h-n);
  margin: 0 var(--mxxxx) var(--mxxxx) var(--mxxxx);
}

.detail-side mat-icon {
  color: var(--color-inactive);
}

.detail-foot {
  grid-area: d-foot;
  margin: var(--mn) 0 0 var(--mx);
  padding-top: var(--pxx);
  border: var(--border-contents-gray);
  border-radius: var(--radius-large);
  background-color: var(--color-white);
}
