/* CSS Grid対応のため記述 */
/* autoprefixer grid: autoplace */

:root {
  --window-height: 1080px;
  --extra-extra-large-font-size: 38px;
  --extra-large-font-size: 28px;
  --large-font-size: 21px;
  --medium-font-size: 16px;
  --small-font-size: 12px;
  --main-bg-color: #22459c;
  --base-bg-color: #f0f0f0;
  --card-bg-color: #ffffff;
  --card-header-bg-color: #d9d9d9;
  --feature-description-bg-color: #d9d9d9;
  --main-font-color: #ffffff;
  --claim-high-color: #f0554e;
  --claim-middle-color: #f3ca3e;
  --claim-low-color: #2ac940;
  --shadow-color: #808080;
  --main-header-height: 48px;
  --card-header-height: 40px;
  --factor-header-height: 32px;
  --left-write-common-padding: 12px;
  --left-write-common-margin: 8px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 1280px;
  height: var(--window-height);
  margin: 0 auto;
  font-family: "Meiryo UI", "Meiryo", "Yu Gothic UI", "Yu Gothic", "YuGothic";
  background-color: var(--base-bg-color);
}

.main-header {
  height: var(--main-header-height);
  margin: 0;
  font-size: var(--large-font-size);
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
}

.main-header span {
  line-height: var(--main-header-height);
  margin-right: 16px;
}

.card {
  box-shadow: 0 0 4px var(--shadow-color);
  /* border-radius: 10px; */
}

.high-font-color {
  color: var(--claim-high-color);
}

.middle-font-color {
  color: var(--claim-middle-color);
}

.low-font-color {
  color: var(--claim-low-color);
}


.child-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-size-xl {
  font-size: var(--extra-large-font-size);
}

/* 以下ngClass用 */

._high {
  background-color: var(--claim-high-color);
  color: var(--main-font-color);
}

._middle {
  background-color: var(--claim-middle-color);
  color: var(--main-font-color);
}

._low {
  background-color: var(--claim-low-color);
  color: var(--main-font-color);
}

._now {
  background-color: #f0554e;
}
