/* You can add global styles to this file, and also import other style files */

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Meiryo UI", "Meiryo", "Yu Gothic UI", "Yu Gothic", "YuGothic";
  background-color: #F0F0F0;
}

header {
  height: 48px;
  width: 100%;
  background-color: #22459c;
  font-size: 21px;
  color: #ffffff;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
}

header button {
  height: 48px;
}

header span {
  line-height: 48px;
  margin-right: 16px;
}

/* ngClass用 */

._high {
  background-color: #f0554e;
  color: #ffffff;
}

/* ngClass用 */

._middle {
  background-color: #f3ca3e;
  color: #ffffff;
}

/* ngClass用 */

._low {
  background-color: #2ac940;
  color: #ffffff;
}
